body {
    background-color: aliceblue;
}

.right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px; /* set the width of the image */
    height: auto; /* keep the aspect ratio */
}